include requirements.txt
include capsulethunk.h
include radar5.h
include cspline.c
include LICENSE
recursive-include tcc *
prune tcc/tests
prune tcc/examples
prune tcc/win32/examples
recursive-include radar5 *
